<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaplan.pdma.fitpro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityStart" />
        <activity android:name=".ActivitySit" />
        <activity android:name=".ActivityPushup" />
        <activity android:name=".ActivityJumpjack" />
        <activity android:name=".ActivityLegraise" />
        <activity android:name=".men" />
        <activity android:name=".women" />
        <activity android:name=".other" />
        <activity android:name=".options" />
        <activity android:name=".bmi" />
        <activity android:name=".AreaData" />
        <activity android:name=".finger"></activity>
    </application>

</manifest>